lab1/Connected Services/WcfNewsService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49551/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49551/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49551/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfNewsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNews_getNews_InputMessage">
    <wsdl:part name="parameters" element="tns:getNews" />
  </wsdl:message>
  <wsdl:message name="IServiceNews_getNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNews_getNewsSerialaized_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewsSerialaized" />
  </wsdl:message>
  <wsdl:message name="IServiceNews_getNewsSerialaized_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewsSerialaizedResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNews">
    <wsdl:operation name="getNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNews/getNews" message="tns:IServiceNews_getNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNews/getNewsResponse" message="tns:IServiceNews_getNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNewsSerialaized">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNews/getNewsSerialaized" message="tns:IServiceNews_getNewsSerialaized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNews/getNewsSerialaizedResponse" message="tns:IServiceNews_getNewsSerialaized_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNews" type="tns:IServiceNews">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNews">
      <soap:operation soapAction="http://tempuri.org/IServiceNews/getNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewsSerialaized">
      <soap:operation soapAction="http://tempuri.org/IServiceNews/getNewsSerialaized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceNews" binding="tns:BasicHttpBinding_IServiceNews">
      <soap:address location="http://localhost:49551/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>